<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bifrost" version="1.0.0.8" targetFramework="net40" />
  <package id="Bifrost.Default" version="1.0.0.8" targetFramework="net40" />
  <package id="Bifrost.JS" version="1.0.0.8" targetFramework="net40" />
  <package id="Bifrost.JSON" version="1.0.0.8" targetFramework="net40" />
  <package id="Bifrost.Mimir" version="1.0.0.8" targetFramework="net40" />
  <package id="Bifrost.Ninject" version="1.0.0.8" targetFramework="net40" />
  <package id="Bifrost.RavenDB" version="1.0.0.8" targetFramework="net40" />
  <package id="Bifrost.RavenDB.Embedded" version="1.0.0.8" targetFramework="net40" />
  <package id="Bifrost.SignalR" version="1.0.0.8" targetFramework="net40" />
  <package id="Bifrost.Web" version="1.0.0.8" targetFramework="net40" />
  <package id="FluentValidation" version="3.4.6.0" targetFramework="net40" />
  <package id="jQuery" version="1.7.2" targetFramework="net40" />
  <package id="Knockout.Mapping" version="2.0.3" targetFramework="net40" />
  <package id="knockoutjs" version="2.0.0.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Core" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.JS" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="1.0.1" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="Ninject.Web.Common" version="3.0.0.7" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net40" />
  <package id="RavenDB.Client" version="2.0.2330" targetFramework="net40" />
  <package id="RavenDB.Database" version="2.0.2330" targetFramework="net40" />
  <package id="RavenDB.Embedded" version="2.0.2330" targetFramework="net40" />
  <package id="WebActivator" version="1.5.3" targetFramework="net40" />
</packages>